body {
    margin: 0;
}

header {
    padding: 1px;
    margin: 0px;
    background-color: red;
    height: 105px;
}

#logo {
    height: 75px;
    display: inline-block;
    position: relative;
    left: 500px;
    bottom: 95px;
}

ul {
    margin-left: 5%;
    text-align: center;
    color: white;
    font-size: 150%;
    font-weight: bolder;
}

li {
    display: inline-block;
    margin: 1%;
}